/*///////////////////////////////////////////////////////////////////*/
/* This CSS style is general for all the templates*/
/* Made with love in Central Park Conservancy!*/
/* v2 - Sept 2014 */
/*///////////////////////////////////////////////////////////////////*/


	html {
	 font-family: 'Titling Gothic FB Narr', sans-serif;
	 -webkit-font-smoothing: antialiased;
	}

	body {
	 font-family: 'Titling Gothic FB Narr', sans-serif;
	 padding-bottom:0;
	 -webkit-font-smoothing: antialiased;
	 outline : none; 
	}

 	h4, h5, h6, .h4, .h5, .h6 {
	font-family: 'Titling Gothic FB Cond', sans-serif;
	line-height: 1.1;
	}

	h1, h2, h3, .h1, .h2, .h3 {
	font-family: 'Titling Gothic FB Cond', sans-serif;
	line-height: 1.1;
	margin-bottom: 2px;
	}

	h3 {
	font-size: 20px;		
	}

	h1, h3, .h1, .h3 {
	color: #68b247;	
	}

/*	.breadcrumb {
	  padding-right: 2px;
	  padding-left: 2px;
	  margin-bottom: 20px;
	  list-style: none outside none;
	  background-color: transparent;
	  border-radius: 4px;
	  text-transform: uppercase;
	}
*/

	  a, a:link, a:visited {
 	  text-decoration: none;
	  color:#77BD42;  /*green*/
	  outline :none !important;/*
	  font-family: 'Titling Gothic FB Narr', sans-serif;*/
	  padding-bottom:0;
	  -webkit-font-smoothing: antialiased;
	}

	a:hover {
	  text-decoration: none;
	  color:#6C6D70; /*dark gray*/
	  /*color:#44781d;  dark green*/
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -o-transition: 0.5s;
	  -ms-transition: 0.5s;
	  transition: 0.5s;
	}

	a.titleLink {
	  color:white;
	  text-decoration:none;
	}

/*///////////////////////////////////////*/
/* footer styles for 2015 refresh */
/*///////////////////////////////////////*/
.footer-container footer {
  background-color: #68b247;
  color: white;
  font-family: 'Titling Gothic FB Narr', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-size: 12px;
  padding: 20px 20px 10px;
  margin: 0 auto;
  max-width: 1170px; }
  .footer-container footer a {
    color: #FFFFFF;
    margin-right: 0;
    text-decoration: none;
    margin-bottom: 25px; }
  .footer-container footer .footerLink a:hover,
  .footer-container footer .footerLink a:focus {
    color: #6c6d70 !important;
    /*gray*/
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none; }
  .footer-container footer .logo {
    margin-bottom: 10px; }
  .footer-container footer .main {
    font-weight: bold; }
  .footer-container footer ul {
    list-style: none;
    padding-left: 0; }
@media (max-width: 767px) {
  .footer-container footer {
    text-align: center;
    background-color: #68b247;
    padding: 15px 0 25px;
    font-size: 14px;
    margin-top: 40px; }
    .footer-container footer a {
      font-size: 18px; }
    .footer-container footer li {
      margin-bottom: 10px; }
    .footer-container footer .footer-link {
      margin-bottom: 15px; } }

.star-bar {
  text-align: center;
  padding: 10px 0; }
  .star-bar img {
    margin-left: 20px; }

.followus {
  background-color: #86C26B;
  color: white;
  display: table;
  width: 100%;
  margin-top: 40px; }
  .followus ul {
    list-style: none;
    margin-right: 10px; }
  .followus li {
    display: table-cell;
    text-align: center;
    float: none;
    line-height: 1.8; }
  .followus .icon {
    width: 4%;
    text-align: center;
    font-family: 'Titling Gothic FB Cond';
    line-height: 2;
    float: right;
    font-size: 30px; }
  @media (max-width: 991px) and (min-width: 768px) {
    .followus .icon {
      width: 6%; } }
  .followus a {
    color: white; }
  .followus .icon a:hover {
    color: #636466;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease; }

/*///////////////////////////////////////*/
/*SearchBox+SocialIcons*/
/*///////////////////////////////////////*/
/*	.noteBox { display: none; }
	.clickable { cursor: pointer; }
	#searchForm { position: relative; }
	.searchIcon { position: absolute; top: 12px; left: 3px; }
	.searchButton { position: absolute; top: 5px; right: -25px; }    
	#searchForm input {
		padding: 0 30px 0 3px;
		margin:0 10px; 
		font-size:12px;
	}*/
	 .fa-facebook { color: #3B5999; }
	  .fa-twitter { color: #00B6F1; }
	  .navbar .fa-instagram.socialIcon { color: #000000; }
	  .fa-tumblr { color: #35465C; }
	  .socialIcon:hover {opacity: .7;}
/*///////////////////////////////////////*/
/* Glyphicones size for standar arrows */
/*///////////////////////////////////////*/

	
	.xs-icon {font-size:11px;} /* Arrows in list, and on the 3 boxes area */
	.plusIcon {font-size:12px; vertical-align:top;} /* Follow Us + */
	
	.whiteArrow:link{
 	  text-decoration: none;
	  color:white; 
	  -webkit-font-smoothing: antialiased;
	  opacity:0.9;
		}

	.whiteArrow:hover {
	  text-decoration: none;
	  color:#77BD42;  /*green*/
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -o-transition: 0.5s;
	  -ms-transition: 0.5s;
	  transition: 0.5s;
	}


	.form-control { border-radius:0; }
	.form-control {
		display: block;
		width: 100%;
		font-size: 14px;
		line-height: 1.42857;
		color: #555;
		vertical-align: middle;
		background-color: #FFF;
		background-image: none;
		border: 1px solid #CCC;
		border-radius: 4px;
		box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		height: 25px;
		padding: 5px 5px;
	}

	.input-sm { border-radius:0; }


/*////////////////////////////////////////*/
/* CSS Style for List webpages in Convio*/
/*////////////////////////////////////////*/

	.clearfix { 
       margin-left:0;
       font-size:14px;
       font-family: 'Titling Gothic FB Narr', sans-serif;
	   /*font-family:'News Cycle', sans-serif;*/
	}

    .clearfix img{ float:left; margin:10px; border-style:solid; border-width:1px; border-color:lightgrey; }

    .clearfix h3 { 
       font-size:15px;
       font-weight:bold;
       font-family: 'Titling Gothic FB Narr', sans-serif;
       color:#77BD42;
    	}

    .clearfix a { color:#5A5A5A;}

    .clearfix h3:hover { 
	  text-decoration: underline;
	  /*color:#44781d;*/
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -o-transition: 0.5s;
	  -ms-transition: 0.5s;
	  transition: 0.5s;
    	}

	

/*Main Banner*/
	.container .jumbotron {
		margin-bottom:0;
        margin-top:0;
		border-radius:0;
		padding: 70px 10px 5px 10px;
		background: rgba(119, 193, 67, 0.8);
		color: #FFFFFF;
	}

	.jumbotron h3 {  /*OFFICIAL WEBSITE OF NEW YORK CITY'S*/
		margin-top:0;
		margin-bottom: 10px;
		font-size: 16px;
        word-spacing:15px;
		z-index:1000px;
		color: #FFFFFF;
		text-transform: uppercase;
	}


	.jumbotron h1 { /*CENTRAL PARK*/
    font-size: 45px;
    color: #FFF;
    margin-top: -10px;
    font-family: 'Titling Gothic FB Norm Med',sans-serif;
    text-transform: uppercase;
	}




/*///////////////////////////////////////*/
/*Surveys Style*/
/*///////////////////////////////////////*/

.Button {	  /*Register Button*/
      background: #79bf43;
	  background-image: -webkit-linear-gradient(top, #79bf43, #69962e);
	  background-image: -moz-linear-gradient(top, #79bf43, #69962e);
	  background-image: -ms-linear-gradient(top, #79bf43, #69962e);
	  background-image: -o-linear-gradient(top, #79bf43, #69962e);
	  background-image: linear-gradient(to bottom, #79bf43, #69962e);
	  -webkit-border-radius: 19;
	  -moz-border-radius: 19; 
	  border-radius: 19px;
	  -webkit-box-shadow: 2px 2px 2px #666666;
	  -moz-box-shadow: 2px 2px 2px #666666;
	  box-shadow: 2px 2px 2px #666666;
	  color: #ffffff;
	  font-size: 12px;
	  padding: 10px 20px 10px 20px;
	  border: solid #79bf43 0px;
	  text-decoration: none;
	  text-transform:uppercase;
	  text-align:center;
	  margin-left:5%;
      margin-top:20px;
      float:left;}

.Button:hover {
    	  background: #8ad150;
	  background-image: -webkit-linear-gradient(top, #8ad150, #69962e);
	  background-image: -moz-linear-gradient(top, #8ad150, #69962e);
	  background-image: -ms-linear-gradient(top, #8ad150, #69962e);
	  background-image: -o-linear-gradient(top, #8ad150, #69962e);
	  background-image: linear-gradient(to bottom, #8ad150, #69962e);
	  text-decoration: none;
	  color: #ffffff;
	  text-transform:uppercase;   
}

    .Explicit { font-size:15px; font-weight:normal;}    

    .embeddedSurvey {margin-left:-40px;}

	.embeddedSurvey tr { 
		color:#636363;
		}

	.embeddedSurvey td { 
		color:#636363;
		padding-bottom:5px;	
		}
 
		
	.embeddedSurvey .num { 
		color:#333333;
		font-family: 'Titling Gothic FB Narr Std', sans-serif;
		-webkit-font-smoothing: antialiased;
		font-weight:bold;
		font-size:15px;
		}/*dark gray*/

	.embeddedSurvey label {
		color:#333333;
		font-family: 'Titling Gothic FB Narr Std', sans-serif;
		-webkit-font-smoothing: antialiased;
		font-weight:normal;
		font-size:15px;
		padding:0;
        margin:10px 10px 0 0;
		}

	.embeddedSurvey textarea { 
		color:#444444;
		width:600px;
		height:100px;
		} 

	.embeddedSurvey select {   	
		color:#636363;
		height:30px;
		font-size:14px !important;
		}


	.embeddedSurvey #cons_first_name, p[type="text"]  {
		color:#444444;
		width:250px;
		height:35px;
		}

	.embeddedSurvey #cons_first_name, td[type="text"]  {
		color:#444444;
		width:250px;
		height:35px;
		font-size:14px;
		}
	
	.embeddedSurvey #cons_last_name, td[type="text"]  {
		color:#444444;
		width:250px;
		height:35px;
		font-size:14px;
		}
	
	
	.embeddedSurvey #cons_email, td[type="text"]  {
		color:#444444;
		width:250px;
		height:35px;
		font-size:14px;
		}
	
	

	.embeddedSurvey #cons_street1, td[type="text"]  {
		color:#444444;
		width:502px;
		height:35px;
		font-size:14px;
		}

	.embeddedSurvey #cons_street2, td[type="text"]  {
		color:#444444;
		width:502px;
		height:35px;
		font-size:14px;
		margin-top:-60px;
		}    

	.embeddedSurvey input[type="text"]  {
		color:#444444;
		height:35px;
		font-size:14px;
		}

	.embeddedSurvey input[type="radio"]{
		width:20px;
		background-color:white;
		float:left;
		margin-right:10px;
		margin-top:0 !important;
		font-size:14px;	
		}

	.embeddedSurvey input[type="checkbox"] { 
		width:20px;
		background-color:white;
		float:left;
		margin-right:10px;
		margin-top:15px;
		font-size:14px;       
		}


	.embeddedSurvey input.Button { 
	  background: #79bf43;
	  background-image: -webkit-linear-gradient(top, #79bf43, #69962e);
	  background-image: -moz-linear-gradient(top, #79bf43, #69962e);
	  background-image: -ms-linear-gradient(top, #79bf43, #69962e);
	  background-image: -o-linear-gradient(top, #79bf43, #69962e);
	  background-image: linear-gradient(to bottom, #79bf43, #69962e);
	  -webkit-border-radius: 19;
	  -moz-border-radius: 19; 
	  border-radius: 19px;
	  -webkit-box-shadow: 2px 2px 2px #666666;
	  -moz-box-shadow: 2px 2px 2px #666666;
	  box-shadow: 2px 2px 2px #666666;
	  color: #ffffff;
	  font-size: 12px;
	  padding: 10px 20px 10px 20px;
	  border: solid #79bf43 0px;
	  text-decoration: none;
	  text-transform:uppercase;
	  text-align:center;
	  float: left;
	  margin-left: 5%;
	  margin-top: 20px;
	} 

	.embeddedSurvey input.Button:hover { 
	  background: #8ad150;
	  background-image: -webkit-linear-gradient(top, #8ad150, #69962e);
	  background-image: -moz-linear-gradient(top, #8ad150, #69962e);
	  background-image: -ms-linear-gradient(top, #8ad150, #69962e);
	  background-image: -o-linear-gradient(top, #8ad150, #69962e);
	  background-image: linear-gradient(to bottom, #8ad150, #69962e);
	  text-decoration: none;
	  color: #ffffff;
	  text-transform:uppercase;

	} 


/* Job list style */

	.clearjobs {list-style:none; margin-left:-20px;}


/*EVENTS SINGLE PAGE*/

	.headlineEvent {margin-top:0;}
	.mainImageEvent {float:left; }

	#memDonWrap .memWrapCol #ticketInterface input, #memDonWrap .memWrapCol #ticketInterface textarea {
		width: 20px;
	}
	#donAmt { background: #F99; }



/*///////////////////////////////////////*/
/*Shop Elements for CMS */
/*///////////////////////////////////////*/

		#topLinks {height: 25px; padding:0 0 0 5px; width:75%; float:right;}

		.viewAll {float: left; margin-bottom:0 !important;}
		.viewCart {float: right; vertical-align: middle;}

		.shopimg { outline: none;  display:block; float:right; border:0; }
	
		#contactinfo {
			background-color:#e5e5e5;
			color:#474747; 
			padding:10px; 
			font-size: 12px;
			text-align:center;
			/*letter-spacing:0.3px;*/
			height:55px;
			width:75%;
			float:right;
			margin:0;
		}    
 
		#contactinfo a:link { /* unvisited link */
			color: #75a942;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-o-transition: 0.5s;
			-ms-transition: 0.5s;
			transition: 0.5s;
			text-decoration:underline;	
		}
		#contactinfo a:visited {color:#75a942; text-decoration:underline;}  /* visited link */
		#contactinfo a:hover { color: #3c98d1; text-decoration:underline;} /* mouse over link */

		.rowShop {
		margin-right:0;
		margin-left:0;
		margin-top:40px;
	}

/*Email Sign Up*/
	#emailHomepage { margin-left: 35px; margin-right: 35px; }


/*Location information on attractions*/


	.right_box_flex { clear:both;}


/*////////////////////////////////////////////////////////*/
/*//////////////// LEFT NAVIGATION - INSIDE PAGES ///////////// */

	.navbar-collapse {max-height:none;}
	.left-nav {
	  min-height: 300px;
	  height:100%;
	  width:210px;
	  background-color: #6d6e71;
	  color:#FFFFFF;
	  padding: 40px 0 5px 0;
	  font-family: 'Titling Gothic FB Cond', sans-serif;
	  -webkit-font-smoothing: antialiased;
	  font-size:1.3em;
	  -webkit-border-bottom-right-radius: 5px;
	  -webkit-border-bottom-left-radius: 5px;
	  -moz-border-radius-bottomright: 5px;
	  -moz-border-radius-bottomleft: 5px;
	  border-bottom-right-radius: 5px;
	  border-bottom-left-radius: 5px;
	}
	@media screen and (max-width: 767px) {
		.left-nav {
		margin-top: 20px;	
		}	
	}
	.left-nav ul {
	  list-style:none;
	  padding: .5em 1.5em;
	}
	.left-nav li {
	  padding-bottom:15px;
	}
	.left-nav a {
	  color:#FFFFFF;
	  text-decoration:none;
	  font-family: 'Titling Gothic FB Cond', sans-serif;
	}
	.left-nav a:link {
	  text-decoration:none;
	  color:#ffffff;
	  outline: 0;
	  font-family: 'Titling Gothic FB Cond', sans-serif;
	}
	.left-nav a:hover {
	  -webkit-transition: 0.5s;
	  -moz-transition: 0.5s;
	  -o-transition: 0.5s;
	  -ms-transition: 0.5s;
	  transition: 0.5s;
	  color:#79bf43 !important;
	  text-decoration:none;
	}
	.left-nav a:visited {
	  text-decoration:none;
	  color:#ffffff;
	}
	.left-nav hr {
	  height:8px;
	  width:250%;
	  border:none;
	  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,0.5);
	}

	@media and screen (max-width: 991px) {
		.left-nav {
			display: none !important;
		}
	}
	.lineInside {
	  color:#525252;
	  background-color:#525252;
	  height:1px;
	  border:none;
	  margin-top:10px;
	}

	.dropdownShare  {
	float:right;
	}

	.dropdownShare:hover > a { 
	  background-color:orange; 
	  display:block;
	  color:white; 
	  z-index:1000;
	  padding: 10px 10px 0 10px;  
	  margin-top:-10px;
	  margin-right:-10px;
	  transition:none;
		}

	.dropdown-menu-share {
	  position: absolute;
	  top: 100%;
	  right:5px;
	  z-index: 1000;
	  float: left;
	  min-width: 160px;
	  padding: 10px;
	  margin: 2px 0 0;
	  font-size: 12px;
	  list-style: none;
	  background-color: white;
	  border: 5px solid orange;
	  color:#68b247;
	  display:none;
	}

	.dropdown-menu-share img{
	  margin-left:5px;
	}

	.open > a {
	outline: 0;
	}
