@import "bourbon/bourbon";
$cpc-green: #68b247;
$green-btn-top: #77BA59;
$green-btn-bottom: #548E39;
$green-btn-top-hover: #4A7C32;
$green-btn-bottom-hover: #406A2B;
$light-green: #689506;
$dark-green: #5BA93E;
$social-green: #86C26B;
$very-light-green: #DFECCD;
$trust-green: #3BAB36;

$dark-gray: #636466;
$medium-gray: #A3A4A2;
$light-gray: #C5C5C5;
$very-light-gray: #DEDEDE;
$transparent-gray: rgba(0, 0, 0, 0.6);

$red: #E20034;
$dark-red: #B4002A;
$darkest-red: #860020;

$orange: #FFA500;

$titling-narr: 'Titling Gothic FB Narr', sans-serif;
$titling-cond: 'Titling Gothic FB Cond', sans-serif;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);



@mixin input {
  height: 41px;
  padding: 10px;
  outline: none;
  border: 1px solid #C5C5C5;
  color: $dark-gray;
}

@mixin button {
  color: #ffffff;
  font-size: 16px;
  border: solid #79bf43 0px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Titling Gothic FB Cond', sans-serif;
  border-radius: 2px;
  @include linear-gradient($green-btn-top,  $green-btn-bottom);
  height: 41px;
  width: 100px;
  vertical-align: middle;
  margin-top: -4px;
    &:hover {
      @include linear-gradient($cpc-green, $green-btn-bottom-hover);
    }
    &:focus {
      @include linear-gradient($green-btn-top-hover, $green-btn-bottom-hover);
    }
  }

@mixin ul-vertical {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-bottom: 0;
}

@mixin li-vertical {
  display: table-row;
  float: left;
}

@mixin fa-nav {
  font-size: 30px;
  color: $dark-gray;
}

.container {
  padding: 0;
}

.brandbar {
  height: 80px; 
  margin-top: 5px;
  li {
    @include li-vertical;
  }
  ul {
    @include ul-vertical;
  }
	.cpc-logo-wrapper-img {
    width: 150px;
    margin: 12px 0 10px;
  }
  .trust-language {
    font-size: 24px;
    color: $trust-green;
    margin-left: 40px;
    line-height: 3;
  }
  .email-follow-top {
    float: right;
    margin-top: 5px;
    input {
      @include input;
      width: 200px;
      margin-top: 3px;
    }
    .submitButton {
      @include button;
      margin-left: -5px;
      @-moz-document url-prefix() {
        margin-top: -3px;
      }
      @media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min){
        @-moz-document url-prefix() {
          margin-top: -3px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .navbar-mobile {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-mobile {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-desktop {
    display: none;
  }
  .brandbar {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-desktop {
    display: block;
  }
  .brandbar {
    display: block;
  }
}

.navbar-mobile {
  @media screen and (max-width: $screen-sm-max) {
    background-color: white;
  }
  li {
    @include li-vertical;
    width: 15%;
  }
  ul {
    @include ul-vertical;
  }
  .icon-li {
    width: 25%;
    text-align: center;
    cursor: pointer;
  }
   @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min){
    .icon-li {
      width: 10%;
    }
   }
  .icon-text{
    font-size: 12px;
    color: $dark-gray;
  }
  .logo-img-li {
    width: 110px;
    margin: 0 auto;
  }
  .logo-li {
    width: 50%;
    margin-top: 5px;
    text-align: center;
  }
   @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min){
    .logo-li {
      width: 80%;
    }
   }
  .fa-search {
    @include fa-nav;
    margin-bottom: 4px;
  }
  .fa-bars {
    @include fa-nav;
    font-size: 34px;
  
  }
}

.navbar-mobile{
  border-bottom: 2px solid $cpc-green;
  margin-top: 10px;
  height: 60px;
}
.navbar-nav {
  border-radius: 2px;
  min-height: 40px;
  @include linear-gradient(#737475, $dark-gray);
}

.fa-search.desktop-menu {
  color: white;
  font-size: 25px;
  font-size: 25px;
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  width: 100%;
  padding: 0 2% 0 0;
  .visit{
    width: 12%;
    padding-left: 10px;
  }
  .about{
    width: 25%;
  }
  .shop{
    width: 12%;
  }
  .support{
    width: 12%;
  }
  .donate-hp{
    width: 25%;
    min-height: 40px;
    text-align: center;
    font-weight: bold;
    @include linear-gradient($red, $dark-red);
  }

  .donate-hp a:hover {
    color: white;
     @include linear-gradient($red, $darkest-red);
     min-height: 40px;
  }
  .search-hp{
    width: 14%;
    text-align: center;
    cursor: pointer;
  }
  li {
    a{
      color: white;
      font-size: 18px;
      font-family: 'Titling Gothic FB Cond';
      letter-spacing: .6px;
    }
    a:hover {
      background-color: transparent;
      color: #939493;
      -webkit-transition: 0.2s; 
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -ms-transition: 0.2s;
      transition: 0.2s ease-out;
    }
    a:focus {
      background-color: transparent;
      color: #939493;
    }
  }
}

.navbar-nav>li>.dropdown-menu {
  min-width: 225px;
  padding: 10px 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  margin-top: 0px;
  li {

    a {
      color: $dark-gray;
    }
    a:hover {
     text-decoration: underline;
    }
  }
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
}


@media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min){ 
 .navbar-nav {
  li {
    a{
      font-size: 16px;
    }
  }
 }  
}

/* show mobile nav on small screens for tablet */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 0;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  .collapsing {
      overflow: hidden!important;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

#offcanvas-wrapper {
position: relative;
overflow: hidden;
width: 100%;
}

#site-canvas {
width: 100%;
height: 100%;
position: relative;
-moz-transform: translateX(0); 
-ms-transform: translateX(0);
-o-transform: translateX(0);
-webkit-transform: translateX(0);
transform: translateX(0);
-moz-transition:.3s ease-out all;
-ms-transition:.3s ease-out all;
-o-transition:.3s ease-out all;
-webkit-transition: .3s ease-out all;
transition: .3s ease-out all;
}

#offcanvas-menu {
width: 80%;
height: 100%;
position: absolute;
top: 0;
right: -80%; 
background: $dark-gray;
overflow: auto; 
}

.offcanvas-menu-active {
z-index: 10;
outline: 9999px solid rgba(0,0,0,0.5);
}

#offcanvas-wrapper.show-nav #site-canvas {
-moz-transform:  translateX(-80%);
-ms-transform:  translateX(-80%);
-o-transform:  translateX(-80%);
-webkit-transform: translateX(-80%);
transform: translateX(-80%);
}


ul.navbar-mobile-menu {
  padding: 2em;
  list-style: none;
  float: left;
  width: 100%;
  .nav>li>a {
    padding: 0;
  }
  li {
    margin-bottom: 15px;
    a{
      color: white;
      font-size: 24px;
      font-family: 'Titling Gothic FB Cond';
      letter-spacing: .6px;
      margin-bottom: 10px;
    }
    a:hover {
      background-color: transparent;
      color: #939493;
      -webkit-transition: 0.2s; 
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -ms-transition: 0.2s;
      transition: 0.2s ease-out;
    }
    a:focus {
      background-color: transparent;
      color: #939493;
    }
  }
  .dropdown-menu {
    position: relative;
    background-color: $dark-gray;
    box-shadow: none;
    border: none;
    float: none;
    margin-left: 20px;
  }
  .join-renew-mobile {
    @include button;
    @include linear-gradient($red, $dark-red);
    font-weight: bold;
    width: 100%;
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
    a:focus {
      color: white;
    }

  }
  .join-renew-mobile:hover {
    @include linear-gradient($red, $dark-red);
    color: white;
  }
  .join-renew-mobile:focus {
    @include linear-gradient($red, $dark-red);
    color: white;
  }
  .fa-caret-right {
    font-size: 18px;
    margin-left: 5px;
  }
  .fa-caret-down {
    font-size: 18px;
    margin-left: 5px;
    display: none;
  }
  .hor-line {
    border-top: 1px solid white;
    width: 100%;
    margin: 10px auto;
  }
  .small-text-mobile-menu a {
    font-size: 16px;
  }
  ul.dropdown-menu {
    margin-bottom: 0;
    li {
      a {
        padding: 0;
      }
    }
  }
}  

.dropdown-menu-mobile {
  display: none;
  list-style: none;
  padding: 10px 0 0 20px;
  line-height: 1.2;
}

.search-bar {
display: none;
min-height: 50px;
background-color: #C5C5C5;
position: relative;
border-radius: 2px;
margin: -1px 1px 0;
  li {
    @include li-vertical;
    text-align: center;
  }
  ul {
    @include ul-vertical;
  }
  .search-input-li {
    width: 95%;
  }
  .search-button-li {
    width: 5%;
  }
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: $dark-gray;
font-size: 18px;
font-family: 'Titling Gothic FB Cond', sans-serif;
}
.search-input::-moz-placeholder { /* Firefox 19+ */
color: $dark-gray;
font-size: 18px;
font-family: 'Titling Gothic FB Cond', sans-serif;
}
.search-input:-ms-input-placeholder { /* IE 10+ */
color: $dark-gray;
font-size: 18px;
font-family: 'Titling Gothic FB Cond', sans-serif;
}
.search-input:-moz-placeholder { /* Firefox 18- */
color: $dark-gray;
font-size: 18px;
font-family: 'Titling Gothic FB Cond', sans-serif;
}

.search-input {
height: 38px;
background: $light-gray;
outline: none;
padding: 0 4px 0;
width: 100%;
margin: 2px 20px;
border-bottom: 1px solid gray;
border-top: none;
border-left: none;
border-right: none;
border-radius: 0;
}

.navbar-form {
  margin-top: 0;
}

.search-btn {
font-size: 22px;
text-align: center;
background-color: transparent;
border: none;
text-align: center;
top: 3px;
position: relative;
right: 20px;
}

.search-mobile {
cursor: pointer;
}

@media only screen and (max-width: $screen-md-min) {
  .search-bar {
    min-height: 60px;
  }
  .search-input {
    height: 45px;
  }
  .search-btn {
    top: 8px;
  }
}

@media only screen and (max-width: 700px) {
.search-bar .search-input-li {
  width: 90%;
  margin: 0 auto;
}
}

/*leftover styles from bo*/
  .left-nav {
    min-height: 300px;
    height: 100%;
    width: 210px;
  }

  .knockout, .knockout > li > a {
    color: #FFF;
    padding-left: 15px;
  }

  .top-image {
    display: none;
  }

  .breadcrumb {
    background-color: white;
  }

  #contentDiv {
    margin-top: 1em;
  }

.left-nav {
    left: 1em !important;
    /* remove once template is cleaned out */
} 

@media only screen and (max-width: 991px) {
.row.two-column-content {
margin: 0 auto;
}

#contentDiv {
  margin-top: .5em;
}  
.col-sm-9.right-content {
    width: 100%;
}
div#main-content {
    margin: 0 auto;
}
}


/* ios input rounded corners fix */
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.alert {
  a {
    text-decoration: underline;
    color: #580016;
  }
  .alert-text {
    width: 95%;
    padding: 0 15px;
  }
  .alert-btn {
    width: 5%;
  }
  .button {

  }
  li {
    @include li-vertical;
    width: 15%;
  }
  ul {
    @include ul-vertical;
  }
  text-align: center;
  color: #580016;
  background: #FDEAE8;
  .close {
    position: relative;
    top: -.4em;
    right: 2em;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 20px;
    position: relative;
    bottom: 10px;
    color: $dark-gray;
    opacity: .8;
  }
  @media only screen and (max-width: 694px) {
    .close {
      right: .5em;
    }
  } 
}




